<li><%= closest_station.name %></li>
<li><%= closest_station.address %></li>
<li><%= closest_station.fuel_type %></li>
<li><%= closest_station.distance %></li>
<li><%= closest_station.access_time %></li>
